*{
    margin: 0 auto;
}
a{
    text-decoration: inherit;
    color: inherit;
}
.app{
    background: linear-gradient(0deg, rgba(98,214,215,1) 0%, rgba(246,212,141,1) 100%);
    min-height:  100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    .app__header{
        height: 100%;
        margin-top: 35px;
        width: 77%;
        max-width: 1200px;
        border: 2px solid;
        border-radius: 2rem;
        padding: 22px;
        h3{
            padding: 7px;
        }
        .wraper{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .ChatList{
                border-radius: 1rem;
                flex-basis: 20%;
                ul{
                    border-radius: 1rem;
                    background-color: #9fae7d;
                    margin-bottom: 10px;
                }
                a{
                    display: flex;
                    width: 100%;
                    align-items: center;
                }
                form{
                    input{
                        width: 150px;
                    }
                    button{
                        margin-top: 10px;
                        margin-left: 5px;
                    }
                }
            }
            .chatWrap{
                width: 72%;
                .chat{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .chat_element{
                    width: 82%;
                    border: 1px solid rgb(30, 51, 32);
                    margin: 2px;
                    border-radius: 2rem;
                    padding: 5px 30px;
                    display: flex;
                    p{
                        text-align: start;

                    }
                    .messageAuthor{
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
                form{
                    width: 100%;
                    .messageImput{
                        width: 84%;
                        margin-top: 20px;
                        .MuiFormControl-root{
                            width: 100%;
                        }
                        .MuiFilledInput-root{
                            width: 100%;
                        }
                    }
                    .sendButton{
                        display: flex;
                        justify-content: space-between;
                        width: 84%;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    h2{
        margin-top: 35px;
    }
}
.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 4%;
    background: linear-gradient(0deg, rgba(98,214,215,1) 0%, rgba(246,212,141,1) 100%);
    .article_section{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        .article_element{
            max-width: 320px;
            margin: 15px 0;
            .article_img{
                img{
                    max-width: 320px;
                    height: 180px;
                    width: 100%;
                }
            }
        }
    }
    .profile__page{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        text-align: center;
        max-width: 1200px;
        h2{
            font-size: 25px;
            margin: 20px 0;
        }
        .profile__info{
            display: flex;
            width: 100%;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
        }
        .logout{
            margin-top: 15px;
        }
    }
}
.main__header{
    display: flex;
    align-items: center;
    background: radial-gradient(circle, rgba(129,137,177,1) 0%, rgba(179,74,95,1) 100%);
    min-height: 150px;
    ul{
        display: flex;
        list-style-type: none;
        min-width: 1200px;
        font-size: 22px;
        font-weight: 600;
        .inactive_class{
            display: none;
        }
    }
}
.login_form{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: 320px;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(87,125,171,1) 100%);
    input{
        margin-top: 20px;
        padding-left: 15px;
        font-size: 18px;
        width: 80%;
        border: 1px solid;
        border-radius: 5px;
    }
    button{
        margin: 15px 10px;
        font-size: 18px;
        border-radius: 5px;
        border: 1px solid;
    }
}
