*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: inherit;
    color: inherit;
}

.app{
    background: linear-gradient(0deg, rgba(98,214,215,1) 0%, rgba(246,212,141,1) 100%);
    min-height:  90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .app__wraper{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        width: 98%;
        height: 80vh;
        border-radius: 1rem;
        .app__chatList{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 1rem;
            width: 20%;
            padding: 5px 10px;
            min-height: 100%;
            background: rgba(0, 0, 0, 0.1);
            ul{
                border-radius: 1rem;
                background: transparent;
                margin-bottom: 10px;
                height: 95%;
                overflow: scroll;
                .MuiListItem-button{
                    background:rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    margin-bottom: 2px;
                }
                .chat__button{
                    padding: 4px 7px;
                    border-radius: 3px;
                }
            }
            a{
                display: flex;
                width: 100%;
                align-items: center;
            }
            .chatList__form{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 15px 0;
                input{
                    font-size: 16px;
                    padding-left: 5px;
                    height: 27px;
                    width: 65%;
                    border-radius: 3px;
                }
                .chatList__button{
                    font-size: 16px;
                    padding: 5px;
                    margin-left: 5px;
                    border-radius: 3px;
                }
            }
        }
        .app__chats{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 80%;
            .chat{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
                overflow: scroll;
                .chat_element{
                    display: flex;
                    justify-content: space-between;
                    width: 90%;
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: 5px;
                    margin: 2px;
                    padding: 5px;
                    .chat_block{
                        width: 90%;
                        p{
                            text-align: start;
                            word-wrap: break-word;
                        }
                        .messageAuthor{
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                    .message_deleate{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border-radius: 3px;
                    }
                }
            }
            .app__chat_send{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .messageImput{
                    width: 90%;
                    margin-top: 20px;
                    .MuiFormControl-root{
                        width: 100%;
                    }
                    .MuiFilledInput-root{
                        width: 100%;
                    }
                }
                .sendButton{
                    display: flex;
                    justify-content: space-between;
                    width: 90%;
                    margin-top: 5px;
                }
            }
        }
    }
    h2{
        margin-top: 35px;
    }
}

.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 2% 4%;
    background: linear-gradient(0deg, rgba(98,214,215,1) 0%, rgba(246,212,141,1) 100%);
    .article_section{
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1200px;
        .article_element{
            max-width: 320px;
            background: rgba(255, 255, 255, 0.7);
            .article_img{
                img{
                    max-width: 320px;
                    height: 180px;
                    width: 100%;
                }
            }
            .article_info{
                padding: 10px;
                p{
                    margin-top: 7px;
                }
            }
        }
    }
    .container__wraper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h2{
            font-size: 25px;
            margin: 0 0 20px 0;
        }
        .profile__page{
            display: flex;
            flex-direction: column;
            text-align: center;
            min-width: 310px;
            width: 50%;
            background: rgba(0, 0, 0, 0.1);
            padding: 25px;
            border-radius: 10px;
            .profile__info{
                display: flex;
                justify-content: space-between;
                width: 100%;
                font-size: 20px;
                font-weight: 600;
                .profile__form{
                    display: flex;
                    align-items: center;
                    width: 70%;
                    input{
                        display: inline-block;
                        width: 70%;
                        height: 24px;
                        font-size: 16px;
                        padding-left: 10px;

                    }
                    button{
                        display: inline-block;
                        padding: 5px 10px;
                        border-radius: 5px;
                        margin-left: 10px;
                        width: 30%;
                    }
                }
            }
            .logout{
                margin-top: 25px;
                font-size: 20px;
                padding: 10px;
                border-radius: 5px;
            }
        }
    }
    .home__page{
        display: flex;
        flex-direction: column;
        align-items: center;
        .home__mesage{
            max-width: 700px;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 500;
            padding: 7px;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 3px;
        }
    }
}
.main__header{
    width: 100%;
    z-index: 20;
    background: #94af61;
    .header__container{
        display: flex;
        max-width: 1200px;
        margin: 0px auto;
        padding: 0px 2%;
        align-items: center;
        min-height: 70px;
        .menu__body{
            flex-basis: 100%;
            z-index: 9;
            .menu__list{
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                padding: 0 2rem;
                max-width: 1200px;
                width: 100%;
                font-size: 22px;
                font-weight: 600;
                .inactive_class{
                    display: none;
                }
            }
        }
        .menu__icon{
            display: none;
        }
    }
}
.form__wraper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    .login_form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 45%;
        min-width: 300px;
        height: 300px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        background: rgba(0, 0, 0, 0.1);
        input{
            margin-top: 20px;
            padding-left: 15px;
            font-size: 18px;
            width: 80%;
            border: 1px solid;
            border-radius: 5px;
            height: 35px
        }
        button{
            margin: 15px 10px;
            font-size: 18px;
            font-weight: 600;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid;
        }
        h3{
            max-width: 80%;
            text-align: center;
        }
    }
}
.main__footer{
    width: 100%;
    z-index: 10;
    background: #299393;
    .footer__container{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0px auto;
        padding: 0px 2%;
        align-items: center;
        min-height: 70px;
        font-size: 18px;
        .content__nav{
            display: flex;
            a{
                display: block;
                font-size: 30px;
                margin-left: 30px;
                transition: transform 0.4s;
            }
            a:hover{
                transform: scale(1.3);
            }
        }
    }
}
@media (min-width: 1301px) and (max-width: 1750px){
    .container{
        .container__wraper{
            .profile__page{
                .profile__info{
                    flex-wrap: wrap;
                    .profile__form{
                        margin-top: 15px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (min-width: 901px) and (max-width: 1300px){
    .form__wraper{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .login_form{
            width: 100%;
        }
    }
    .app{
        .app__wraper{
            .app__chatList{
                width: 30%;
            }
            .app__chats{
                width: 70%;
            }
        }
    }
    .container{
        .container__wraper{
            .profile__page{
                width: 85%;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 900px) {
    .app{
        .app__wraper{
            .app__chatList{
                width: 35%;
            }
            .app__chats{
                width: 65%;
            }
        }
    }
    .container{
        .container__wraper{
            .profile__page{
                width: 100%;
            }
        }
    }
}
@media (max-width: 767px){
    .main__header{
        .header__container{
        justify-content: flex-end;
            .menu__body{
                display: flex;
                align-items: start;
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                padding: 100px 30px 30px 30px;
                transition: left 0.3s ease 0s;
                overflow: auto;
                min-height: 100vh;
                background: #d2eddcd6;
                .menu__list{
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    li{
                        font-size: 30px;
                        margin-bottom: 30px;
                    }

                }
            }
            .menu__body._active{
                left: 0;
            }
            .menu__icon{
                z-index: 10;
                display: block;
                position: relative;
                width: 35px;
                height: 27px;
                cursor: pointer;
                margin-right: 5%;
            }
            .menu__icon span,
            .menu__icon::before,
            .menu__icon::after{
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: rgb(24, 19, 19);
            }
            .menu__icon::before,
            .menu__icon::after {
                content: "";
            }
            .menu__icon::before{
                top: 0;
            }
            .menu__icon::after{
                bottom: 0;
            }
            .menu__icon span{
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
            .menu__icon._active span{
                transform: scale(0) translate(0px, -50%);
            }
            .menu__icon._active::before{
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }
            .menu__icon._active::after{
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }
    }
    .form__wraper{
        .login_form{
            h3{
                text-align: center;
            }
        }
    }
    .main__footer{
        .footer__container{
            flex-direction: column;
            .footer__container_text{
                margin-top: 15px;
            }
            .content__nav{
                margin: 15px 0;
                a{
                    margin: 0 20px;
                }
            }
        }
    }
    .app{
        h2{
            margin-top: 10px;
        }
        .app__wraper{
            margin-top: 10px;
            height: 75vh;
            .app__chatList{
                align-items: center;
                width: 100%;
                
            }
            .app__chatList._active{
                display: none;
            }
            .app__chats{
                width: 100%;
                
            }
            .app__chats._active{
                display: none;
            }
        }
    }
    .container{
        .container__wraper{
            .profile__page{
                width:100%;
                .profile__info{
                    flex-direction: column;
                    align-items: center;
                    .profile__form{
                        margin-top: 10px;
                        width: 100%;
                    }
                }
            }
        }
    }
}