*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: inherit;
    color: inherit;
}

.app{
    background: linear-gradient(0deg, rgba(98,214,215,1) 0%, rgba(246,212,141,1) 100%);
    min-height:  100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    .app__header{
        height: 100%;
        margin-top: 35px;
        width: 77%;
        max-width: 1200px;
        border: 2px solid;
        border-radius: 2rem;
        padding: 22px;
        h3{
            padding: 7px;
        }
        .wraper{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .ChatList{
                border-radius: 1rem;
                flex-basis: 20%;
                ul{
                    border-radius: 1rem;
                    background-color: #9fae7d;
                    margin-bottom: 10px;
                }
                a{
                    display: flex;
                    width: 100%;
                    align-items: center;
                }
                form{
                    input{
                        width: 150px;
                    }
                    button{
                        margin-top: 10px;
                        margin-left: 5px;
                    }
                }
            }
            .chatWrap{
                width: 72%;
                .chat{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .chat_element{
                    width: 82%;
                    border: 1px solid rgb(30, 51, 32);
                    margin: 2px;
                    border-radius: 2rem;
                    padding: 5px 30px;
                    display: flex;
                    p{
                        text-align: start;

                    }
                    .messageAuthor{
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
                form{
                    width: 100%;
                    .messageImput{
                        width: 84%;
                        margin-top: 20px;
                        .MuiFormControl-root{
                            width: 100%;
                        }
                        .MuiFilledInput-root{
                            width: 100%;
                        }
                    }
                    .sendButton{
                        display: flex;
                        justify-content: space-between;
                        width: 84%;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    h2{
        margin-top: 35px;
    }
}
.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 4%;
    background: linear-gradient(0deg, rgba(98,214,215,1) 0%, rgba(246,212,141,1) 100%);
    margin-top: 70px;
    .article_section{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 20px;
        max-width: 1200px;
        .article_element{
            max-width: 320px;
            background: rgba(255, 255, 255, 0.7);
            .article_img{
                img{
                    max-width: 320px;
                    height: 180px;
                    width: 100%;
                }
            }
            .article_info{
                padding: 10px;
                p{
                    margin-top: 7px;
                }
            }
        }
    }
    .profile__page{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        text-align: center;
        max-width: 1200px;
        h2{
            font-size: 25px;
            margin: 20px 0;
        }
        .profile__info{
            display: flex;
            width: 100%;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
        }
        .logout{
            margin-top: 15px;
        }
    }
}
.main__header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #94af61;
    .header__container{
        display: flex;
        max-width: 1200px;
        margin: 0px auto;
        padding: 0px 2%;
        align-items: center;
        min-height: 70px;
        .menu__body{
            flex-basis: 100%;
            .menu__list{
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                padding: 0 2rem;
                max-width: 1200px;
                width: 100%;
                font-size: 22px;
                font-weight: 600;
                .inactive_class{
                    display: none;
                }
            }
        }
        .menu__icon{
            display: none;
        }
    }
}
.login_form{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: 320px;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(87,125,171,1) 100%);
    input{
        margin-top: 20px;
        padding-left: 15px;
        font-size: 18px;
        width: 80%;
        border: 1px solid;
        border-radius: 5px;
    }
    button{
        margin: 15px 10px;
        font-size: 18px;
        border-radius: 5px;
        border: 1px solid;
    }
}

@media (max-width: 767px){
    .main__header{
        .header__container{
        justify-content: flex-end;
            .menu__body{
                display: flex;
                align-items: center;
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                padding: 100px 30px 30px 30px;
                transition: left 0.3s ease 0s;
                overflow: auto;
                min-height: 100vh;
                background: #d2eddcd6;
                .menu__list{
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    li{
                        font-size: 30px;
                        margin-bottom: 30px;
                    }

                }
            }
            .menu__body._active{
                left: 0;
            }
            .menu__icon{
                z-index: 5;
                display: block;
                position: relative;
                width: 35px;
                height: 27px;
                cursor: pointer;
                margin-right: 5%;
            }
            .menu__icon span,
            .menu__icon::before,
            .menu__icon::after{
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: rgb(24, 19, 19);
            }
            .menu__icon::before,
            .menu__icon::after {
                content: "";
            }
            .menu__icon::before{
                top: 0;
            }
            .menu__icon::after{
                bottom: 0;
            }
            .menu__icon span{
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
            .menu__icon._active span{
                transform: scale(0) translate(0px, -50%);
            }
            .menu__icon._active::before{
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }
            .menu__icon._active::after{
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }
    }
}