* {
  margin: 0 auto;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.app {
  background: -webkit-gradient(linear, left bottom, left top, from(#62d6d7), to(#f6d48d));
  background: linear-gradient(0deg, #62d6d7 0%, #f6d48d 100%);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.app .app__header {
  height: 100%;
  margin-top: 35px;
  width: 77%;
  max-width: 1200px;
  border: 2px solid;
  border-radius: 2rem;
  padding: 22px;
}

.app .app__header h3 {
  padding: 7px;
}

.app .app__header .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.app .app__header .wraper .ChatList {
  border-radius: 1rem;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.app .app__header .wraper .ChatList ul {
  border-radius: 1rem;
  background-color: #9fae7d;
  margin-bottom: 10px;
}

.app .app__header .wraper .ChatList a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .app__header .wraper .ChatList form input {
  width: 150px;
}

.app .app__header .wraper .ChatList form button {
  margin-top: 10px;
  margin-left: 5px;
}

.app .app__header .wraper .chatWrap {
  width: 72%;
}

.app .app__header .wraper .chatWrap .chat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .app__header .wraper .chatWrap .chat_element {
  width: 82%;
  border: 1px solid #1e3320;
  margin: 2px;
  border-radius: 2rem;
  padding: 5px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app .app__header .wraper .chatWrap .chat_element p {
  text-align: start;
}

.app .app__header .wraper .chatWrap .chat_element .messageAuthor {
  font-size: 18px;
  font-weight: 700;
}

.app .app__header .wraper .chatWrap form {
  width: 100%;
}

.app .app__header .wraper .chatWrap form .messageImput {
  width: 84%;
  margin-top: 20px;
}

.app .app__header .wraper .chatWrap form .messageImput .MuiFormControl-root {
  width: 100%;
}

.app .app__header .wraper .chatWrap form .messageImput .MuiFilledInput-root {
  width: 100%;
}

.app .app__header .wraper .chatWrap form .sendButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 84%;
  margin-top: 15px;
}

.app h2 {
  margin-top: 35px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 0 4%;
  background: -webkit-gradient(linear, left bottom, left top, from(#62d6d7), to(#f6d48d));
  background: linear-gradient(0deg, #62d6d7 0%, #f6d48d 100%);
}

.container .article_section {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

.container .article_section .article_element {
  max-width: 320px;
  margin: 15px 0;
}

.container .article_section .article_element .article_img img {
  max-width: 320px;
  height: 180px;
  width: 100%;
}

.container .profile__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  text-align: center;
  max-width: 1200px;
}

.container .profile__page h2 {
  font-size: 25px;
  margin: 20px 0;
}

.container .profile__page .profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.container .profile__page .logout {
  margin-top: 15px;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(circle, #8189b1 0%, #b34a5f 100%);
  min-height: 150px;
}

.main__header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  min-width: 1200px;
  font-size: 22px;
  font-weight: 600;
}

.main__header ul .inactive_class {
  display: none;
}

.login_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
  width: 320px;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;
  background: radial-gradient(circle, #eeaeca 0%, #577dab 100%);
}

.login_form input {
  margin-top: 20px;
  padding-left: 15px;
  font-size: 18px;
  width: 80%;
  border: 1px solid;
  border-radius: 5px;
}

.login_form button {
  margin: 15px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid;
}
/*# sourceMappingURL=App.css.map */